<p>
  <%= comment.commenter %> <b>says:</b>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Delete', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>