
        <nav class="navbar navbar-inverse" role="navigation">

  ...   <li class="active"><a><%= link_to "Home", home_path %></a></li>
        <li><a><%= link_to "About Me", about_me_path %></a></li>
        <li><a><%= link_to "Projects", projects_path %></a></li>
        <li><a href= '/posts'>Blog</a></li>
        </nav>
     