<nav>

  <ul>
    <a><%= link_to "Home", home_path %></a>
    <a><%= link_to "About Me", about_me_path %></a>
    <a href= '/posts'>Blog</a>
    <a><%= link_to "Projects", projects_path %></a>
  </ul>

</nav>